 @import url(http://fonts.googleapis.com/css?family=IM+Fell+English);
 @import url(http://fonts.googleapis.com/css?family=Lato:300);
 @import url(http://fonts.googleapis.com/css?family=Francois+One);
 @import url(http://fonts.googleapis.com/css?family=Roboto:100,400,700,300,100,500,900);

 body {
    // font-family: Lato "IM Fell English" "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
    font-family: "Roboto";
    font-weight: 400;
 }

 a {
    color: black;
    text-decoration: none;

    &:hover {
        color: #aaa;
    }
 }
 h3 {
    font-weight: 700px;
     span {
        font-weight: 300;
     }
 }
.top-container {
    max-width: 80%;
    min-width: 700px;
    margin: auto;
}
.blackcanvas {
    background-color: #000;
}

#header {
    font-size: 1.2em;
    text-align: right;
    color: #444;
}

#cmx-container {
    position: relative;
    cursor: pointer;
    text-align: center;
    -webkit-touch-callout: none;
    user-select: none;
}
#cmx-container canvas {
    margin: auto;
    border: 2px solid #ccc;
    vertical-align: bottom;
    max-width:700px;
}

ul {
    list-style:none;
}
.buttons  {
    font-size: 2em;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.buttons li {
    display: inline-block;
    margin:0;
    padding: 0;
    max-width: 400px;
    width: 49%;
    height: 100%;
    -webkit-touch-callout: none;
    user-select: none;
}

.tocDiv {
    width: 100%;
    // overflow-x: scroll;
    // white-space: nowrap;
}
.clear {
    clear:both;
}

$selected: #dd0000;

.current-panel {
    color: $selected !important;
    border-color: $selected !important;
}
.cmx-toc {
    width: auto;
    li {
        border: 1px solid #555;
        color: #555;
        cursor: pointer;
        display: inline-block;
        font-size: 2em;
        height: 50px;
        line-height: 50px;
        margin: 5px;
        text-align: center;
        width: 50px;
        &.current-panel {
            color: $selected;
            border-color: $selected;
        }
    }
    .thumbnail {
        height:125px;
        width:auto;
        // max-width:200px;
        opacity: 0.4;
        &:hover, &.reading {
            opacity: 1;
        }
    }
}

ul.book-style {
    text-align: right;
    float: right;
    li {
        border: 1px solid #555;
        color: #555;
        cursor: pointer;
        display: inline-block;
        font-size: 1.25em;
        padding: 5px;
        line-height: 1em;
        margin: 5px;
        text-align: center;
    }
}

#library {
    li {
        display: inline-block;
        margin: 10px;
    }
   .library-thumb {
        height: 250px;
        width: 250px;
        padding: 5px;
        border: 2px solid black;
    } 
}

.cmx-credits {
    padding-left: 40px;
    font-size: 16px;
    float: left;
}

    