 @import url(http://fonts.googleapis.com/css?family=IM+Fell+English);
 body {
    font-family: "IM Fell English" "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
 }
#header {
    font-size: 1.2em;
    text-align: right;
    color: #444;
}

#cmx-container {
    position: relative;
    cursor: pointer;
    text-align: center;
    -webkit-touch-callout: none;
    user-select: none;
}
#cmx-container canvas {
    width: 800px;
    height: 450px;
    margin: auto;
    border: 2px solid #ddd;
}

ul {
    list-style:none;
}
.buttons  {
    font-size: 2em;
    margin: 0;
    padding: 0;
    // width: 800px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // border: 2px solid blue;
}
.buttons li {
    // border: 1px solid #999;
    display: inline-block;
    margin:0;
    padding: 0;
    max-width:400px;
    width: 48%;
    height: 100%;
    text-align: center;
}

.tocDiv {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}
.clear {
    clear:both;
}
.cmx-toc {
    width: auto;
    li {
        display: inline-block;
    }
    .thumbnail {
        height:125px;
        width:auto;
        // max-width:200px;
        opacity: 0.4;
        &:hover, &.reading {
            opacity: 1;
        }
    }
}


    