<div class="og-index" ng-class="{'detailsMin': detailsMin}">
    <span 
      class="glyphicon arrow-min" 
      ng-class="{ 'arrow-max glyphicon-chevron-down': detailsMin,  'glyphicon-chevron-up': !detailsMin }"
      ng-click="detailsMin=!detailsMin;"
      >
    </span>  
    <img 
      ng-src="/local/oglogo-{{bookModel.series.id}}.jpg"
      ng-click="detailsMin=!detailsMin;"
      class="hide-min" 
    />
              
    <div class="og-details" >
      <span class="series-name" ng-if="bookModel.series.id !== 'rev'">{{bookModel.series.name}}</span>
      <h4 ng-click="detailsMin=!detailsMin;">
        <sup>#</sup>{{bookModel.issue}}
      </h4>
      <span class="hide-min">{{bookModel.title}}<br />
          <button class="btn btn-default"
            ng-if="bookModel.formats && bookModel.formats.length > 1" 
            ng-repeat="format in bookModel.formats" 
            ng-class="{ 'current-panel': bookModel.view.id === format.view_id }" 
            ng-click="loadBook(format.format)">{{format.format}}</button>
      </span>    
  </div>

</div>