<div class="footer-wrap">
    <div id="footer">
        <div class="container">
          <button type="button" ng-init="footCollapsed = true" ng-click="footCollapsed = !footCollapsed">
            toggle
          </button>
        </div>
        <div class="container-color">
        <div class="container footer-content">
            <div class="book-info" collapse="footCollapsed">
                <h3 class="cmx-credits">
                    <span class="issue-name">{{bookData.series.name}} #{{bookData.issue}}: {{bookData.title}}</span>
                    <br />
                    <a ng-repeat="creator in bookData.creators" ng-href="{{creator.url}}"><span ng-if="$middle || $last">, </span>{{creator.credit}}: {{creator.name}}</a>
                </h3>

                <ul class="book-style" ng-if="bookData.formats">
                    <li class="btn-format" ng-if="bookData.formats.length > 1" ng-repeat="format in bookData.formats"  ng-class="{ 'current-panel': bookData.view.id === format.view_id }" ng-click="getBook(bookData.id, format.format)">{{format.format}}</li>
                </ul>
                <div class="clearfix"></div>
        </div>
        </div>
      </div>
    </div>
</div>