<div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="navbarCollapsed = true" ng-click="navbarCollapsed = !navbarCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CAPTAIN JONES</a>
        </div>
        <div class="navbar-collapse collapse" collapse="navbarCollapsed">
          <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/#/books/rev01" ng-hide="true">New Readers </a>
          </li>
            <li class="dropdown">
              <a href class="dropdown-toggle">More Books <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="book in books">
                  <a href="/#/books/{{book.id}}">{{book.series.name}} #{{book.issue}}</a>
                </li>
              </ul>
            </li>     
          </ul>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>