<div id="wrap">
    <ng-include src="'views/partials/topnav.html'"></ng-include>
    <div class="top-container">

        <div class="canvas-wrapper">
            
            <canvasbook book-data="bookData" current-view="currentView" animate-resize></canvasbook>
            
            <div class="my-elm" ng-show="currentView === 'wasFirst' || currentView === 'wasLast'">
                <div ng-click="hideOverlay()" class="canvas-overlay" >
                    <div class="calltoaction" ng-show="currentView === 'wasFirst'">
                        Previous Issue: {{books[previousBook].series.name}} #{{books[previousBook].issue}}<br />
                        <a class="btn-format" ng-href="#/books/{{books[previousBook].id}}">read now</a>
                    </div>
                    <div class="calltoaction" ng-show="currentView === 'wasLast'">
                        Next Issue: {{books[nextBook].series.name}} #{{books[nextBook].issue}}<br />
                        <a class="btn-format" ng-href="#/books/{{books[nextBook].id}}">read now</a>
                    </div>
                </div>
            </div>

        </div>


        <!-- <div class="tocDiv">    
            <ul class="cmx-toc">
                <li ng-class="{ 'current-panel': cmxCanvas.currentView.panel == $index }" ng-repeat="panel in bookData.view.panels" ng-click="cmxCanvas.goTo($index,0)">
                    {{$index}}
                </li>
            </ul>
        </div> -->
    </div>
</div>
<ng-include src="'views/partials/footer.html'"></ng-include>


