<h3 class="cmx-credits">{{cmxData.series.name}} #{{cmxData.issue}}: <!--
        -->{{cmxData.title}} <br />by <!--
        --><span ng-repeat="creator in cmxData.creators"><!--
        --><span ng-if="$middle">, </span><!--
        --><span ng-if="$last"> &amp; </span><!--
        --><a ng-href="{{creator.url}}">{{creator.name}} ({{creator.credit}})</a><!--
        --></span></h3>

<div cmx-book="cmxData.cmxJSON" cmxcanvas="cmxCanvas" init-height="{{cmxData.view.height}}" init-width="{{cmxData.view.width}}"></div>

<div class="tocDiv">    
    <ul class="cmx-toc">
        <li ng-class="{ 'current-panel': cmxCanvas.currentView.panel == $index }" ng-repeat="panel in cmxData.cmxJSON" ng-click="cmxCanvas.goTo($index,0)">
            <!-- <img ng-src="{{panel.src}}" class="thumbnail"/> -->
            {{$index}}
        </li>
    </ul>
</div>
